.mat-control {
  width: 300px;
  margin-right: 15px;
}

.task2 {
  width: 300px;

  & > p {
    margin: 0 0 10px 0;
  }

  .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.task3 {
  .form-array-container {
    float: left;

    & > div {
      margin-bottom: 15px;
      &:hover {
        .icon-delete {
          opacity: 1;
        }
      }
    }
  }
  .actions {
    float: left;
    width: 100%;

    button {
      margin-right: 5px;
    }
  }

  .icon-delete {
    opacity: 0;
    transition: all ease-in-out 0.3s;
  }
}

.task4 {
  clear: both;

  .products-container {
    display: flex;

    .product-item {
      flex-basis: 300px;
      &:not(:last-child) {
        margin-right: 15px;
      }
    }
  }
}