<div class="task task1">
  <h3>Task 1</h3>

  <mat-form-field
          class="mat-control"
  >
    <mat-label>Task 1</mat-label>
    <input
            type="text"
            matInput
            placeholder="Enter string"
            [formControl]="mainForm.get('task1')"
    >
  </mat-form-field>

  <span>Result: {{ mainForm.get('task1').value | frequentSymbolString}}</span>
</div>

<div class="task task2">
  <h3 (click)="reloadPage()" class="pointer">Task 2</h3>

  <p
          [style.backgroundColor]="(task2LocalStorageValue | isEven) ? 'green' : 'red'"
          *ngIf="task2LocalStorageValue"
  >{{ task2LocalStorageValue }}</p>

  <form [formGroup]="mainForm.get('task2')" (submit)="onSubmitTask2()">
    <mat-form-field class="mat-control" #formControl>
      <mat-label>Task 2</mat-label>

      <input
              placeholder="Enter digit"
              type="text"
              matInput
              formControlName="digit"
              OnlyDigit
      >
    </mat-form-field>

    <div class="actions">
      <button
              type="submit"
              mat-flat-button
              color="primary"
              [disabled]="mainForm.get('task2').invalid"
      >Set</button>

      <button
              mat-flat-button
              color="warn"
              (click)="clearFormTask2()"
      >Clear</button>
    </div>
  </form>
</div>

<div class="task task3">
  <h3>Task 3</h3>

  <form [formGroup]="mainForm.get('task3')" novalidate (submit)="setUrl()">
    <div formArrayName="queryParamsArray" class="form-array-container">
      <div *ngFor="let queryParam of mainForm.get('task3').get('queryParamsArray').controls; let i = index; let first = first">
        <ng-container [formGroupName]="i">
          <mat-form-field class="mat-control">

            <mat-label>Key</mat-label>
            <input
                    placeholder="Enter key"
                    type="text"
                    matInput
                    formControlName="key"
            >

            <mat-error *ngIf="queryParam.get('key').touched && (queryParam.get('key').errors && queryParam.get('key').errors?.required)">
              Field is <strong>required</strong>
            </mat-error>

            <mat-error *ngIf="queryParam.get('key').touched && (queryParam.get('key').errors && queryParam.get('key').errors?.minlength)">
              Field must min <strong>{{ queryParam.get('key').errors.minlength.requiredLength }}</strong> characters. Please enter {{ queryParam.get('key').errors.minlength.requiredLength - queryParam.get('key').errors.minlength.actualLength }} <strong>more</strong> characters
            </mat-error>
          </mat-form-field>

          <mat-form-field class="mat-control">
            <mat-label>Value</mat-label>

            <input
                    placeholder="Enter value"
                    type="text"
                    matInput
                    formControlName="value"
            >

            <mat-error *ngIf="queryParam.get('value').touched && (queryParam.get('value').errors && queryParam.get('value').errors?.required)">
              Field is <strong>required</strong>
            </mat-error>

            <mat-error *ngIf="queryParam.get('value').touched && (queryParam.get('value').errors && queryParam.get('value').errors?.minlength)">
              Field must min <strong>{{ queryParam.get('value').errors.minlength.requiredLength }}</strong> characters. Please enter {{ queryParam.get('value').errors.minlength.requiredLength - queryParam.get('value').errors.minlength.actualLength }} <strong>more</strong> characters
            </mat-error>
          </mat-form-field>

          <mat-icon
                *ngIf="!first"
                class="pointer icon-delete"
                (click)="removeQueryParams(i)"
          >delete</mat-icon>
        </ng-container>
      </div>

      <div class="actions">
        <button
              type="submit"
              mat-flat-button
              color="primary"
        >Set url</button>

        <button
            (click)="addRowQueryParam()"
            type="button"
            mat-flat-button
        >Add new</button>
      </div>
    </div>
  </form>
</div>

<div class="task task4">
  <h3>Task 4</h3>

  <div class="products-container">
    <div class="product-item" *ngFor="let product of $products | async">
      <app-product-item [product]="product"></app-product-item>
    </div>
  </div>
</div>