<mat-card>
  <mat-card-header>
    <mat-card-title># {{product.id}}</mat-card-title>
    <mat-card-subtitle>{{product.title}}</mat-card-subtitle>
  </mat-card-header>

  <img
        class="product-image"
        mat-card-image
        [src]="product.image"
        [alt]="product.title">

  <mat-card-content>
    <h4>Product options:</h4>

    <div class="options">
      <div *ngFor="let opt of objectKeys(product.options[0])">
        {{transformOptName(opt)}}: {{product.options[0][opt]}}
      </div>
    </div>

    <div class="price">
      <span>{{product.price | fixPrice:2}} {{product.currency}}</span>
    </div>
  </mat-card-content>
</mat-card>