.mat-card {
  min-height: 435px;
  .mat-card-header {
    display: flex;
    justify-content: center;
    .mat-card-title {
      text-align: center;
      margin-bottom: 10px;
    }
  }

  .product-image {
    height: 200px;
    object-fit: cover;
  }

  .mat-card-content {
    h4 {
      text-align: center;
      text-transform: uppercase;
    }

    .options {
      margin-bottom: 20px;
    }

    .price {
      text-align: center;
      font-weight: bold;
    }
  }
}